beautifulsoup4==4.13.3
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
docutils==0.21.2
filelock==3.18.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.5
keyring==25.6.0
netaddr==1.3.0
Pillow==11.1.0
protobuf==6.30.1
pyOpenSSL==25.0.0
pysnmp==4.4.12
redis==5.2.1
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
pyasyncore==1.0.4
pyasn1==0.5.1
urllib3==2.2.3
